name: Build and Test

on:
  push:
    branches:
      - "feature/**"
      - "bugfix/**"
      - "hotfix/**"

permissions: {}

jobs:
  bicep-lint:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Azure CLI - Install Bicep
        run: az bicep install
      
      - name: Bicep Lint
        run: |
          az bicep build --file bicep/main.bicep
